/*=============== BASE ===============*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body,
button,
input,
textarea{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body{
    margin: var(--header-height) 0 0 0;
    background-color: var(--body-color);
    color: var(--text-color);
}

button{
    cursor: pointer;
    border: none;
    outline: none;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-weight: 700;
  font-family: "Lato", sans-serif;
}


ul{
    list-style: none;
}
a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}