/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 575px) {
  .container,
  .container-xl {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .home__img {
    width: 180px;
  }

  .home__title {
    font-size: 38px;
  }

  .home__buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .protect__title,
  .impact__title,
  .indigenous-story__title{
    font-size: 32px;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .latest-insight__cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__subscribe {
    width: 500px;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .services__container,
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .home {
    padding: 10rem 0 5rem;
  }

  .home__container {
    align-items: center;
  }

  .home__img {
    width: 280px;
    order: 1;
  }

  .footer__container {
    column-gap: 3rem;
  }

  .footer__subscribe {
    width: initial;
  }
}

/* For large devices */
@media screen and (min-width: 992px) {
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 3rem;
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__menu {
    margin-left: auto;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .section {
    padding: 8rem 1rem 1rem;
  }

  .section__title,
  .section__title-center {
    font-size: var(--h1-font-size);
  }

  .home {
    padding: 13rem 0 5rem;
  }

  .home__img {
    width: 350px;
  }

  .home__description {
    padding-right: 7rem;
  }

  .services__img {
    width: 480px;
  }

  .contact-form{
    justify-content: flex-start
  }

  .contact-data{
    justify-content: flex-end;
  }

  .footer__logo {
    font-size: var(--h3-font-size);
  }

  .footer__container {
    grid-template-columns: 1fr 0.5fr 0.5fr 1.5fr;
  }

  .footer__copy {
    margin: 7rem 0 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .services__container {
    column-gap: 2rem;
  }

  .scrollup {
    right: 3rem;
  }

  .latest-insight__cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
