/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #FFF;
  padding: 1rem 1.75rem;
  border-radius: 3rem;
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--second-color);
}

.button:hover .button__icon {
  transform: translateX(0.25rem);
}

.button__icon {
  transition: 0.3s;
}

.button--flex {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}

.button--link {
  color: var(--first-color);
  font-weight: var(--font-medium);
}

.button--link:hover .button__icon {
  transform: translateX(0.25rem);
}

.button--pill{
  color: var(--first-color);
  border: 1px solid var(--first-color);
  background: transparent;
}

.button--pill:hover{
  color: #FFF;
}
