.footer {
    background-image: url('../images/Footer-overlay.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: var(--first-color);
}

.footer__container {
    row-gap: 3rem;
}

.footer__logo {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    margin-bottom: var(--mb-1);
    transition: 0.3s;
}

.footer__logo-icon {
    font-size: 1.15rem;
    color: var(--first-color);
}


.footer__title {
    color: #fff;
    font-size: var(--smaller-font-size);
    margin-bottom: var(--mb-1-5);
}

.footer__title-small {
    color: #fff;
    font-size: 12px;
    margin-bottom: var(--mb-1-5);
}

.footer__title-small a {
    color: #fff;
    text-decoration: underline;
}

.footer__title-qoute{
    color: #fff;
    font-size: 12px;
    margin-bottom: var(--mb-1-5);
}

.footer__subscribe {
    background-color: #fff;
    padding: 0.55rem;
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem;
    margin-bottom: var(--mb-1);
}

.footer__input {
    width: 70%;
    padding: 0 0.5rem;
    background: none;
    color: #7A462E;
    border: none;
    outline: none;
}

.footer__button {
    padding: 1rem;
    color: #fff;
}

.footer__data {
    display: grid;
    row-gap: 0.75rem;
    color: #fff;
}

.footer__information {
    font-size: var(--small-font-size);
}

.footer__social {
    display: inline-flex;
    column-gap: 0.75rem;
}

.footer__social-link {
    font-size: 1rem;
    color: #fff;
    transition: 0.3s;
}

.footer__social-link:hover {
    transform: translateY(-0.25rem);
}

.footer__cards {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
}

.footer__copy {
    text-align: center;
    font-size: var(--smaller-font-size);
    color: #fff;
    margin: 5rem 0 1rem;
}