/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  box-shadow: 0 2px 16px rgba(122, 70, 46, 0.205);
  z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
}

/* Nav elements colors */
.nav__logo,
.nav__burger,
.nav__close {
  color: var(--title-color);
}

/* Nav data container */
.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Nav logo */
.nav__logo img {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  transition: 0.3s;
  width: 80px;
}


/* Nav toggle */
.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

/* Burger and Close icons */
.nav__burger,
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__close {
  opacity: 0;
}

.nav__button {
  display: flex;
  align-items: center;
}

/* Mobile menu */
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
    background-color: var(--body-color);
    box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, 0.1);
  }

  .nav__menu::-webkit-scrollbar {
    width: 0;
  }

  .nav__list {
    background-color: var(--black-color);
    padding: 1rem 2rem;
  }
}

/* Nav links */
.nav__link {
  color: var(--title-color);
  background-color: var(--body-color);
  font-weight: var(--font-medium);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.nav__link a {
  color: var(--title-color);
}

.nav__link:hover,
.nav__link a:hover {
  color: var(--first-color);
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

.active-link {
  color: var(--first-color);
}


/* Show icon toggle */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.dropdown__link,
.dropdown__sublink {
  
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--title-color);
  background-color: var(--body-color);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: var(--font-medium);
  transition: background-color 0.3s;
}


.dropdown__link:hover,
.dropdown__sublink:hover {
  background-color: var(--first-color);
  color: #fff;
}

.dropdown__menu,
.dropdown__submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu,
.dropdown__subitem:hover>.dropdown__submenu {
  max-height: 1000px;
  transition: max-height 0.4s ease-in;
   box-shadow: 0 12px 32px #8b4d2d2b;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: var(--black-color-lighten);
}