/*=============== HOME ===============*/
.home {
    padding: 3.5rem 0 2rem;
    position: relative;
}

.home__container {
    position: relative;
    justify-items: center;
}

.home__img {
    width: 200px;
    justify-self: center;
}

.home__title {
    font-size: 5.5rem;
    line-height: 140%;
    margin-bottom: var(--mb-1);
    text-align: center;
    color: var(--second-color);
}

.home__description {
    margin-bottom: var(--mb-2-5);
    text-align: center;
}

.home__buttons {
    text-align: center;
    display: inline-flex;
    gap: 1rem;
    justify-content: center;
    width: 100%;
}


.hero__decor-circle {
  position: absolute;
  opacity: 1;
  z-index: -2;
  overflow: hidden;
}

.hero__decor-circle--1 {
  width: 450px;
  top: 8rem;
  left: -13rem;
  transform: rotate(98deg);
}

.hero__decor-circle--2 {
  width: 450px;
  right: -11rem;
  top: -1rem;
  transform: rotate(-15deg);
}


/* Small devices (max-width: 320px) */
@media screen and (max-width: 320px) {
  .hero__title {
    font-size: var(--h1-font-size);
  }

  .hero__decor-circle--1 {
    top: 5rem;
  }

  .hero__decor-circle--2 {
    bottom: 0;
  }
}
