.impact {
  padding: 3.5rem 0 2rem;
  position: relative;
}

.impact__container {
  row-gap: 2rem;
  position: relative;
}

.impact__img {
  width: 1200px;
  display: flex;
  margin: 1.5rem auto;
}

.impact__data {
  align-items: center;
}

.impact__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  color: var(--second-color);
  max-width: 750px;
  margin: var(--mb-1) auto;
}

.impact__title span {
  color: var(--first-color);
}

.impact__description {
  text-align: center;
  max-width: 668px;
  margin: 1.5rem auto var(--mb-2-5);
  font-size: var(--normal-font-size);
  line-height: 1.6;
}
