/* Latest Insight Section */
.latest-insight {
  padding: 6rem 0;
}

.latest-insight .container {
  max-width: 1200px;
  margin: 0 auto;
}

.latest-insight__cards {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 2rem;
}

.insight-intro {
  display: block;
}

.latest-insight__title {
  font-size: 2rem;
  color: var(--title-color);
  margin: 0 0 1rem 0;
}

.latest-insight__intro-text {
  font-size: var(--normal-font-size);
  color: var(--text-color);
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.latest-insight__button {
  background-color: #7A462E;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  text-decoration: none;
  font-size: 0.9rem;
  width: fit-content;
}

.insight-card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
}

.insight-card__img {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 283px;
}

.insight-card__title {
  color: var(--title-color);
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem 0;
}

.insight-card__text {
  font-size: var(--normal-font-size);
  color: var(--text-color);
  line-height: 1.6;
  margin: 0 0 1rem;
}
