.testimonial__section {
  padding: 4rem 0 1rem; 
}

.testimonial_container {
  padding: 2rem 1rem;
  background-image: url(/assets/images/section-overlay.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: var(--first-color);
}

.testimonial-swiper {
  width: 100%;
  max-width: 1200px;
  cursor: grab;
}

.testimonial-swiper:active {
  cursor: grabbing;
}

.testimonial {
  padding: 3rem 1rem; 
  text-align: center;
  color: #fff;
}

.testimonial h2 {
  font-size: 38px;
  line-height: 1.6;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  color: #fff;
}

.author {
  margin-top: 1rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
}

.trusted__partner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  align-items: center;
  gap: 3rem;
  max-width: 850px;
  margin: 2rem auto;
}

.trusted__partner-title {
  text-align: center;
  color: #fff;
}

.trusted__partner a img {
  max-width: 120px;
  width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  .testimonial h2 {
    width: 90%; 
  }
}

@media (max-width: 768px) {
  .testimonial {
    padding: 2rem 1rem;
  }

  .testimonial h2 {
    font-size: clamp(1rem, 4vw + 0.5rem, 1.5rem);
    text-align: center;
  }

  .trusted__partner {
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  .testimonial {
    padding: 1.5rem 1rem;
  }

  .trusted__partner a img {
    max-width: 80px;
  }
}
